{% extends 'main.html' %}
{% block title %} htmlpage {% endblock title %}



{% block body %}
<div class="container">
    <h3 class="font-italic text-center">HTML Tutorial</h3>
    <hr>
</div>
<div class="container my-4">
    <div role="main" class="container">
        <div class="row">
            <!-- syllabus start from here in this sidebar  -->
            <aside class="col-md-4 blog-sidebar">
                <div class="p-3 mb-3 bg-dark rounded text-light" style="overflow-y:scroll;  height:25em" >
                    <!-- we can use a scrollbar here  -->
                    <h3 class="text-center">Courses</h3>
                    <hr style="background-color: #ccc;">
                    <div class=" p-2 " >
                        {% for i in chapters  %}

                        <li><a class="text-light" type="button" href="?chaptersno={{i.sno}}">{{i.chapter_name}}</a></li>

                        {% endfor %}
                    </div>
                </div>
            </aside>


            <div class="col-md-8  mb-3 blog-main "  style="overflow-y:scroll; height:50em">
                {% for d in desc %} 
                <div class="my-4 p-3 text-justify ">
                    <h4 class="text-center font-italic">{{d.title}}</h4>
                    <hr>
                    <div>
                        <p>{{d.description | safe}}</p>
                    </div>
                </div>
                <hr class="color-warning">
                {% endfor %}
            </div>

        </div>
    </div>





</div>
{% endblock body %}